USE [master]
GO
/****** Object:  Database [AnimalShelter]    Script Date: 3/15/2018 5:36:05 PM ******/
CREATE DATABASE [AnimalShelter]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AnimalShelter', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\AnimalShelter.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AnimalShelter_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\AnimalShelter_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AnimalShelter].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AnimalShelter]
GO
/****** Object:  Table [dbo].[Adoption]    Script Date: 3/15/2018 5:36:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adoption](
	[AdoptionID] [int] IDENTITY(1,1) NOT NULL,
	[PetID] [int] NOT NULL,
	[FamilyID] [int] NOT NULL,
	[DateAdopted] [datetime] NOT NULL,
	[EmployeeName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Adoption] PRIMARY KEY CLUSTERED 
(
	[AdoptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Family]    Script Date: 3/15/2018 5:36:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Family](
	[FamilyID] [int] IDENTITY(1,1) NOT NULL,
	[HasFence] [bit] NOT NULL,
	[HasOtherPets] [bit] NOT NULL,
	[HasSmallChildren] [bit] NOT NULL,
	[FamilyName] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Family] PRIMARY KEY CLUSTERED 
(
	[FamilyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Pet4]    Script Date: 3/15/2018 5:36:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pet4](
	[PetID] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Breed] [nvarchar](50) NULL,
	[Age] [nvarchar](50) NOT NULL,
	[Gender] [nvarchar](1) NOT NULL,
	[PetName] [nvarchar](100) NOT NULL,
	[Photo] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Pet4] PRIMARY KEY CLUSTERED 
(
	[PetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Adoption]  WITH CHECK ADD  CONSTRAINT [FK_Adoption_Family] FOREIGN KEY([FamilyID])
REFERENCES [dbo].[Family] ([FamilyID])
GO
ALTER TABLE [dbo].[Adoption] CHECK CONSTRAINT [FK_Adoption_Family]
GO
ALTER TABLE [dbo].[Adoption]  WITH CHECK ADD  CONSTRAINT [FK_Adoption_Pet4] FOREIGN KEY([PetID])
REFERENCES [dbo].[Pet4] ([PetID])
GO
ALTER TABLE [dbo].[Adoption] CHECK CONSTRAINT [FK_Adoption_Pet4]
GO
USE [master]
GO
